//大屏样式
.el-carousel__indicators--horizontal {
    bottom: 3%
}
img {
    -webkit-user-drag: none
}
html,
body {
    width: 100%;
    height: 100%;
    user-select: none;
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

*::-webkit-scrollbar {
    width: 0px!important;
    height: 0px!important;
    -webkit-appearance: none;
}
*::-webkit-scrollbar-thumb {
    height: 0px;
    border: 1px solid transparent;
    border-top: 0;
    border-bottom: 0;
    background-color: #ccc;
    background-clip: padding-box;
}
.mainViewBig {
    .allfull {
        position: absolute;
        right: 0;
        top: 20px;
        z-index: 11111;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
    width: 100%;
    height: 100%;
    min-width: 1900px;;
    min-height: 1080px;
    color: #fff;
    transform-origin: 0 0 0;
    display: none;
    background: url("../assets/img/bg.png");
    background-size: 100%;
    overflow: hidden;
    text-align: center;
    .clearBoth {
        clear: both;
    }
    .content-item1,
    .content-item3 {
        width: 27%;
        height: 100%;
        float: left;
    }
    .content-item2 {
        width: 46%;
        height: 100%;
        float: left;
        border-left: 1px solid rgba(35, 110, 142, 1);
        border-right: 1px solid rgba(35, 110, 142, 1);
    }
    .module-top {
        height: 40px;
        position: relative;
        img {
            position: absolute;
            width: 27px;
            left: 0px;
            top: 6px;
        }
        .module-title {
            margin: 0;
            padding: 5px;
            padding-left: 35px;
            text-align: left;
            font-size: 18px;
            font-weight: 400;
            width: 100%;
            height: 40px;
            float: left;
            background: #3a679e47;
            line-height: 30px;
        }
        .right-icon {
            float: right;
            width: 8%;
            height: 40px;
            background: url("../assets/img/book.png");
            background-size: 140% 100%;
            background-position: center center;
            opacity: 0.8;
        }
    }
    .module-body {
        border: 1px solid #3a679e47;
        border-top: 0px;
//      margin: 10px 0;
        box-shadow: 0px 0px 10px 10px #3a679e47 inset;
    }
    /*左 侧 列*/
    .content-item1 {
        padding: 20px 30px;
        padding-right: 15px;
        //模块一  年度样品检测状态
        .item1-module1 {
            height: 250px;
            .module-body {
                height: 190px;
                .mession {
                    width: 50%;
                    height: 100%;
                    float: left;
                    padding: 40px 30px;
                    .mession-data1 {
                        height: 50%;
                        margin-bottom: 20px;
                        .left-icon1 {
                            float: left;
                            width: 45px;
                        }
                        .number {
                            float: right;
                            font-size: 14px;
                            .right-num {
                                border: 1px solid #33374091;
                                background: #3337409e;                                
                                margin: 0;
                                width: 110px;
                                span {
                                    font-size: 28px;
                                    font-weight: 400;
                                }
                            }
                            .wrong-num {
                                margin: 5px;
                            }
                        }
                    }
                }
                .echart1 {
                    width: 228px;
                    height: 198px;
                    float: left;
                }
            }
        }
        //模块二  月度样品检测统计
        .item1-module2 {
            height: 390px;
            .module-body {
                height: 330px;
                .echart2 {
                    width: 430px;
                    height: 330px;
                }
            }
        }
        //模块三  月度检测排行榜
        .item1-module3 {
            height: 320px;
            .module-body {
                height: 270px;
                padding: 20px;
                .body-right {
                    margin-left: 2%;
                }
                .body-left,
                .body-right {
                    width: 49%;
                    float: left;
                    height: 100%;
                    .icons {
                        float: left;
                        img {
                            width: 15px;
                        }
                        .txt {
                            color: #d4e01b;
                            font-size: 14px;
                        }
                    }
                    ul {
                        float: right;
                        li {
                            border: 1px solid #33374091;
                            background: #3337409e;     
                            width: 155px;
                            line-height: 30px;
                            height: 31px;
                            margin-bottom: 6px;
                            p {
                                float: left;
                            }
                            .workPart1 {
                                width: 15px;
                            }
                            .workPart2 {
                                width: 137px;
                                font-size: 14px;
                                float: left;
                                text-align: center;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
    /*中 间 列*/
    .content-item2 {
        padding: 20px 15px;
        //头部
        .header {
            background: url("../assets/img/title.png");
            background-size: 140% 100%;
            background-position: center center;
            height: 80px;
            .header-title {
                font-weight: 400;
                font-size: 30px;
                padding-top: 20px;
                padding-left: 20px;
                margin: 0;
            }
        }
        .middle {
            height: 150px;
            padding: 30px 0px;
            .middleLeft,
            .middleRight {
                float: left;
                height: 100%;
            }
            .middleLeft {
                width: 240px;
                border: 1px solid #3a679e47;
                box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                padding: 15px 0px;padding-left: 15px;
                .TimeForm {
                    float: left;
                    width: 50%;
                    padding-right: 5px;
                    .time {
                        font-size: 24px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }
                    .date {
                        font-size: 12px;
                    }
                }
                .DateForm {
                    border-left: 2px solid #fff;
                    float: left;
                    width: 45%;
                    height: 100%;
                    img {
                        width: 25px;
                        position: absolute;
                        left: 4px;
                        top: 2px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 30px;
                        position: relative;
                        padding-left: 15px;
                        span {
                            font-size: 26px;
                        }
                    }
                }
            }
            .middleRight {
                width: 26%;
//              padding: 10px 20px;
                p {
                    line-height: 35px;
                    height: 35px;
                    text-align: right;
                    span {
                        font-size: 16px;
                        border: 1px solid #3a679e47;
                        box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                        margin: 0 10px;    
                        display: block;
                        width: 100px;
                        height: 30px;
                        float: right;
                        line-height: 30px;
                        text-align: right;
                        padding-right: 10px;
                    }
                }
            }
            .line {
                width: calc(74% - 240px);
                height: 100%;
                float: left;
//              background: url('../assets/img/line.png');
                background-size: 100%;
                background-position: center center;
                h1 {
                    color: #decf19;
                    margin: 10px 0;
                    font-size: 34px;
                    font-weight: 600;
                }
            }
        }
        .bottom {
            h2 {
                width: 270px   
            }
            .lastTxt {
                border-top: 1px solid #3a679e47;
                border-bottom: 1px solid #3a679e47;
                box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                padding: 20px 20px;
                p {
                    height: 39px;
                    line-height: 39px;
                    font-size: 22px;
                    font-weight: 600;
                    text-align: left;
                    span {
                        color: #decf19
                    }
                }
            }
            .module-table {
                height: 560px;
                overflow: auto;
                margin-bottom: 0;
                table {
                    width: 100%;
                    font-size: 17px;
                    border-collapse: separate;
                    border-spacing: 10px;
                    tr {
                        height: 40px;
                        line-height: 40px;
                        th {
                            color: #337bb9;
                        }
                        td {
                            border: 1px solid #33374091;
                            background: #3337409e;
                            .listName {
                                width: 230px;
                                padding: 0px 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .listTime {
                                width: 120px;
                                padding: 0px 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            p{
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
    /*右 侧 列*/
    .content-item3 {
        padding: 20px 30px;
        padding-left: 15px;
        .item3-module1 {
            .lunboImg {
                width: 100%;
                height: 230px;
//              margin-top: 10px;
            }
        }
        .item3-module2 {
            .module2-body {
                height: 618px;
//              margin: 10px 0;
                box-shadow: 0px 0px 10px 10px #3a679e47 inset;
                border: 1px solid #3a679e47;
                border-top: 0px;
                .echart3 {
                    width: 450px;
                    height: 618px;
                }
            }
        }
    }
}
